@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border  -box;
}

body{
    height: 100vh;
    background-color: #efe9f7;
}

.sidebar{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;  
  height: 100vh;
  width: 56px;
  background-color: #FFF;
}
.sidebar .image-text img{
    display: inline;
    padding-top: 24px;
    width: 40px;
    
}

.search-icon img{
    display: inline;
    margin-top: 12px;;
    width: 20px;
    
}


.home img{
  position: relative;
    display: inline;
    width: 20px;
}

.hut{
    margin-top: 48px;
}

.bell{
    position: absolute;
    bottom: 20px;
   
}

.sidebar .bell img{
    width: 20px;
}


.search-icon:hover {
    opacity: 40%;
    
}
 
  .hut:hover{
   color: pink;
   opacity: 40%;
  }

  .user:hover{
    opacity: 40%;
  }

  .news:hover{
    opacity: 40%;
  }

  .list:hover{
    opacity: 40%;
   
  }
  

  .bell-icon:hover{
    opacity: 40%;
    
  }



  .bottom-icon:hover{
    opacity: 40%;
  }

  .menu{
    list-style: none;
  }

  .menu li{
    margin-bottom: 20px;
  }
  
  
 .dashboard{
    display: flex;
 }

 .dashboard{
    position:absolute;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  left:60px;
  height: 100vh;
  width: 400px;
  background-color: 	#f9f9f9;
 }

.icon img{
  width: 60px;
  border-radius: 100px;
}

.card-container{
  display: flex;
  margin-left: 10px;
}  

.card {
  margin-left: 20px;
  display: block;
  width: 160px; /* Set a fixed width for each card */
  background-color: #f9f9f9; /* Set the background color of the card */
  padding: 10px; /* Add some padding inside the card */
  border-radius: 8px; /* Add rounded corners to the card */
  /* Add a subtle shadow effect */
  text-align: left; /* Center the text inside the card */
  margin-bottom: 20px;
  margin-top: 20px;
}


h2 {
  margin-bottom: 5px; /* Add some margin below the main heading */
  font-size: 16px;
}

p {
  font-size: 12px;
}

.color-line {
  height: 2px; /* Set the height of the color-filled line */
  background-color: #4735eb; /* Set the color of the line */
  margin-top: 10px; /* Add some margin above the line */
  border-radius: 2px; /* Add rounded corners to the line */
  
}

.folder-icons{
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: left;
  
}h4{
  margin-top:10px;
  margin-left: 15px;
  font-weight: 900;
}
.name{
margin-left: 20px;
}

.bold{
  font-weight: bolder;
  font-size: 30px;
}
.normal{
  font-weight: 300;
  font-size: 12px;
}

.Day {
  font-weight: bolder;
  color: gray;
  margin-top: 40px;
margin-left: 15px;
font-size: 20px;
margin-bottom: 10px;

}

.Summary h4{
  font-size: 20px;
  font-weight: bolder;
}

.Summary p{
  margin-left: 15px;
  margin-top: 5px;
  font-size: 12px;
}

.button {
  margin-left: 10px;
  margin-top: 15px;
}

.button-container {
  display: inline-block;
  background-color:  rgb(64, 64, 235);
  color: white;
  margin-top: 16px;
  margin-left: 16px;
  padding: 10px 18px; 
  font-size: 12px;
  border: none;
  cursor: pointer; 
  border-radius: 4px;
  width: 80px;
}

.button-text {
  margin-right: 10px; /* Add margin to the right of the text */
}

.dropdown-icon {
  margin-left: 1px; /* Add margin to the left of the dropdown icon */
}

.button select {
  
  background-color: rgb(64, 64, 235); /* Make the background transparent */
  border-radius: 10px;
  color: white; /* Set the text color to white to match the button's background */
  font-size: 16px; /* Set the font size for the select */
  padding: 8px;
  padding-right: 30px; /* Remove default padding */
}

.more {
  margin-top: 40px;
}
.more p{
  margin-top: 15px;
  margin-left: 15px;
  font-size: small;
 
}
h5{
  margin-top: 8px;
  margin-left: 15px;
}
.custom{
  border:none;
  border-top: 0.5px solid black;
  margin: 10px;
  opacity: 10%;
}

.window{
  position: absolute;
display: flex;
flex-direction: column;
 left:410px;
height: 100vh;
width: 640px;
background-color: 	#f9f9f9;
}

.top{
  margin-top: 30px;
margin-left: 5px;
font-size: 20px;
margin-bottom: 10px;
color: blue;

}
.below{
  margin-left: 20px;
  font-size: 12px;
  font-weight: 900;
}
.below p{
  font-size: 20px;
}
.b{
  font-weight: 900;
}
.more1{
  margin-top: 30px;
  margin-left: 0px;
  font-weight: bolder;
  display:flex ;
  justify-content: space-evenly;
 
}
.more2{
  margin-top: 40px;
  margin-left:70px ;
  display:flex ;
  justify-content: space-evenly;
  text-decoration: underline;
  text-decoration-color: blue;
  
} 


.over {
  margin-top: 2%;
margin-left: 20px;
}

.last{
  display: flex;
  position: absolute;
  display: flex;
  flex-direction: column;
   left: 1060px;
  
  height: 100vh;
  width: 480px;
  background-color: 	#f9f9f9;
}

.chart{
  padding: 20px;
}




.slideContainer{
  width: 75%;
  margin-bottom: 60px;
margin-left: 80px;
display: flex;
justify-content: space-evenly;
}
.lp{
  margin-top: 28px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.slider1{
  display: flex;
 justify-content: space-around;
  margin-bottom: 10px;
  margin-left:-30px ;
  font-weight: 600
}
.slider2{
 display: flex;
 justify-content: space-around;
  margin-bottom: 10px;
  margin-left:-32px ;
  font-weight: 600;
}

.more3{
  margin-left: 30px;
  margin-top: 20px;
  font-size: 10px;
  font-weight:900 ;
}

.more4{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  margin-left:-30px ;
  font-size: 15px;
  
}
.more4 p{
  font-size: medium;
  
}
.m5{
  display: flex;

  
  justify-content: space-around;
  margin-left:-30px ;
  margin-right: -12px;
  
}
.m5 p{
  font-size: medium;
 
  
}

.button-container1{
  display: inline-block;
  background-color:  rgb(64, 64, 235);
  color: white;
  margin-top: 30px;
  margin-left: 100px;
  padding: 10px 40px; 
  font-size: 16px;
  border: none;
  cursor: pointer; 
  border-radius: 4px;
  width: 80px;
}
.button-text1{
  margin-right: 20px;
  margin-left: 10px;
}


.view{
  margin-left: 130px;
  font-weight: 600;
  color: blue;
}
.view p a{
  text-decoration: none;
  color: #4735eb;
}
.card2{
  margin-left: 10px;
  background-color: #efe9f7;
  width: 80%;
  margin-top: 12px;
  padding-bottom: 15px;
  
}

.line{
  height: 100px; /* Set the height of the color-filled line */
  background-color: #4735eb; /* Set the color of the line */
  margin-top: 25px; /* Add some margin above the line */
  border-radius: 2px;
  width: 2px;
  margin-left: 10px;
}

.text-field{
  margin-left: 20px;
 font-weight: 500;
  margin-top: -92px;
}

.c{
  font-weight:900;
}
.d {
  font-weight: 220;
  font-size: small;
}
.link p a{
  text-decoration: none;
  color: blue;
  font-weight: 600;
  
}
.link{
  margin-top: -2px;
}
.input{
  margin-top: 10px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .dashboard {
    padding-bottom: 80px; 
    order: 1; 
    flex-direction: column;
    gap: 10px; 
  }
}